
<div class="add-trade-menu close-add-trade-menu" id="add-trade-menu">
    <a href="#" class="close-button" id="close-button"></a>
    <div class="add-new-trade-heading">Add New Trade</div>

    <div class="add-new-trade-main-contant">
      <form action="/new_trade" method="post">
        <div class="rows rows-1">

          <label for="trade-status">Is trade Closed:</label>
          <select  name="trade_status" required>
            <option value="">--Select an option--</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>

          <label for="buy_sell">Action:</label>
          <select name="buy_sell" required>
            <option value="">--Select an option--</option>
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>

          <label for="market">Market:</label>
          <select name="market" required> 
            <option value="">--Select an option--</option>
            <option value="stock">Stock</option>
            <option value="forex">Forex</option>
            <option value="crypto">Crypto</option>
            <option value="futures">Futures</option>
            <option value="options">Options</option>
          </select>

          <label for="instrument">Instrument:</label>
          <input
            class="add-trade-form-writing-space"
            type="text"
            name="instrument" required
          />

          <label for="quantity">Quantity:</label>
          <input
            class="add-trade-form-writing-space"
            type="number"
            name="quantity"
            step="0.01" required
          />

          <label for="trading_system">Trading System:</label>
          <input
            class="add-trade-form-writing-space"
            type="text"
            name="trading_system" 
          />

          <label for="emotions">Emotions:</label>
          <input
            class="add-trade-form-writing-space"
            type="text"
            name="emotions" 
          />
        </div>
        <div class="rows rows-2">
          <label for="entry_date_time">Entry Date & Time:</label>
          <input
            class="add-trade-form-writing-space add-trade-form-writing-space-date"
            type="datetime-local"
            name="date_time"
            step="1" required
          />

          <label for="exit_date_time">Exit Date & Time:</label>
          <input
            class="add-trade-form-writing-space add-trade-form-writing-space-date"
            type="datetime-local"
            name="exit_date_time"
            step="1" required
          />

          <label for="entry_price">Entry Price:</label>
          <input
            class="add-trade-form-writing-space"
            type="number"
            name="entry_price"
            step="0.01" required
          />

          <label for="exit_price">Exit Price:</label>
          <input
            class="add-trade-form-writing-space"
            type="number"
            step="0.01"
            name="exit_price" required
          />

          <label for="fees">Fees:</label>
          <input
            class="add-trade-form-writing-space"
            type="number"
            name="fees"
            step="0.01" 
          />

        </div>

        <div class="rows rows-3">
          <textarea
            name="trade_notes"
            cols="30"
            rows="10"
            placeholder="Trade Notes" 
          ></textarea>
        </div>

        <input class="submit" type="submit" value="Save" />
      </form>
    </div>
  </div>