<div class="taskbar" id="taskbar">
    <div class="logo"><a href="/dashboard">RudeTrader</a></div>
    <ul>
      <a href="/dashboard">
        <li class="glow-dashboard">
          <img src="../img/dashboard-logo.png" alt="Logo" /> Dashboard
        </li>
      </a>
      <a href="/calender">
        <li class="glow-calender"><img src="../img/calendar-logo.png" alt="Logo" /> Calendar</li>
      </a>
      <a href="/trades">
        <li class="glow-trades"><img src="../img/static-logo.png" alt="logo" /> Trades</li>
      </a>
      <!-- <a href="../html/setups.html">
        <li><img src="../img/setup-logo.png" alt="logo" /> Setups</li>
      </a> -->
      <a href="/note">
        <li class="glow-note"><img src="../img/notes-logo.png" alt="logo" /> Note</li>
      </a>
      <!-- <a href="../html/strategy.html">
        <li><img src="../img/strategy-logo.png" alt="logo" /> Strategy</li>
      </a> -->
    </ul>
  </div>