<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RudeTrader</title>
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"/>
  </head>
  <body>

    <!--taskbar start-->
    <div class="taskbar">
      <div class="logo"><a href="/index.html">RudeTrader</a></div>
      <ul>
        <li><a href="../html/dashboard.html"><img src="../img/dashboard-logo.png" alt="Logo" /> Dashboard</a></li>
        <li><a href="../html/calender.html"><img src="../img/calendar-logo.png" alt="Logo" /> Calendar</a></li>
        <li><a href="../html/statics.html"><img src="../img/static-logo.png" alt="logo" /> Statics</a></li>
        <li><a href="../html/setups.html"> <img src="../img/setup-logo.png" alt="logo" /> Setups</a></li>
        <li><a href="../html/notes.html"> <img src="../img/notes-logo.png" alt="logo" /> Notes</a></li>
        <li><a href="../html/strategy.html"><img src="../img/strategy-logo.png" alt="logo" /> Strategy</a></li>
      </ul>
    </div>
    <!--taskbar ends-->


    <!--main web page -->
    <div class="main">
      <div class="main-header">
        <div class="page-name">Layout</div>
        <div class="color-addtrade-button">
          <a href="google.com"><button class="header-button">Add Trade</button></a>
          <a href=""><button class="header-button">Dark Mode</button> </a>
        </div>
        <a class="user-logo" id="user-logo" onclick="dropdown_menu()" href="#"><img src="../img/user-logo.png" alt="user" /></a>
        <div class="dropdown-menu" id="menu">
          <ul>
            <a href=""><li>Profile</li></a>
            <a href=""><li>Settings</li></a>
            <a href=""><li>Contact Us</li></a>
            <a href=""><li>About me</li></a>
            <a href=""><li>SignOut</li></a>
          </ul>
        </div>
      </div>


      <!--main contant-->
      <div class="main-contant">
  
      </div>



    </div>

    <script src="../js/layout.js"></script>
  </body>
</html>
