<div class="window">
  <button class="close-window-btn">X</button>
  <div>
      <div style="width: 40%; margin-right: 2%;">
        <h2>Trade Information</h2>
      </div>
      
      
      <div>
        <h2>Notes</h2>
      </div>

  </div>

</div>



