
.glow-dashboard{
    background-color: transparent;
}
.glow-note{
    background-color: #0da2dd;
}
.main-contant {height: 635px;width: 99%;}


.main-contant form{
    display: flex;
    width: 97%;
    height: 100%;
}
.main-contant form textarea{
    height: 100%;
    width: 89%;
    border-radius: 7px;
    color: black;
    resize: none;
    background-color: white;
    font-size: 16px;
    padding: 0% 2%;
}
.main-contant form div{
    display: grid;
    height: 12%;
    width: 9%;
    margin: 1%;
}
.main-contant form div button{
    color: rgb(0, 0, 0);
}